<mtapp:setting
    id="auth_username"
    label="<__trans phrase="Username">">
<ul><li><input type="text" id="auth_username" name="auth_username" style="width:100%" value="<mt:var name="auth_username" escape="html">" />
</li></ul>
</mtapp:setting>
<mtapp:setting
    id="auth_password"
    label="<__trans phrase="Password">">
<ul><li><input type="password" id="auth_password" name="auth_password" style="width:100%" value="<mt:var name="auth_password" escape="html">" />
</li></ul>
</mtapp:setting>